/week_1_basics_n_setup/2_docker_sql/ny_taxi_postgres_data
/week_1_basics_n_setup/2_docker_sql/yellow_tripdata_2021-01.csv
/week_1_basics_n_setup/1_terraform_gcp/terraform.exe
/week_1_basics_n_setup/1_terraform_gcp/terraform.tfstate
/week_1_basics_n_setup/1_terraform_gcp/terraform.tfstate.backup
/week_1_basics_n_setup/1_terraform_gcp/.terraform/
/week_1_basics_n_setup/1_terraform_gcp/.terraform.lock.hcl
/week_2_data_ingestion/airflow/data/
/week_2_data_ingestion/airflow/logs/
/workspace.code-workspace
/target/
/dbt_modules/
/logs/
/dbt_packages/
